
<div class="col text-center">
<br><br><br><br>
<a class="btn btn-primary" href="/meditations/equal_lengths" id="link">start over</a>&nbsp&nbsp
<a class="btn btn-primary" href="/meditations" role="button" id="link">meditations</a>
</div>
