<br>
<div class="col text-center">
<a class="btn btn-primary" href="/meditations/equal_lengths" role="button" id="link" style="background-color: #4fc3f7; color:black;">start over</a>
<a class="btn btn-primary" href="/meditations" role="button" id="link" style="background-color: #4fc3f7; color:black;">meditations</a>
</div>
