<p style="font-family:verdana; font-size:20px; text-align:center" id="font"></p>

<script>
    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function intro() {
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> Take a slow, deep breath in through your nose <br> "
      await sleep(4000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> Breathe in <br><br> 1  "
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br>  Breathe in <br><br> 2  "
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br>  Breathe in <br><br> 3  "
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br>  Breathe in <br><br> 4  "
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br>  Breathe in <br><br> 5  "
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br>  Exhale slowly through your mouth <br> "
      await sleep(4000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br>  Breathe out <br><br> 1  "
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br>  Breathe out <br><br> 2  "
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br>  Breathe out <br><br> 3  "
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br>  Breathe out <br><br> 4  "
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> Breathe out <br><br> 5  "
      await sleep(2000)
      window.location.href = "/restart?restart=equal";
    }
    intro();
</script>
