<p style="font-family:verdana; font-size:20px; text-align:center" id="font"></p>

<script>
    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function meditation() {
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> take a deep breath in through your nose <br>"
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> take a deep breath in through your nose <br><br> 1"
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> take a deep breath in through your nose <br><br> 2"
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> take a deep breath in through your nose <br><br> 3"
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> take a deep breath in through your nose <br><br> 4"
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br>  exhale slowly through your mouth"
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br>  exhale slowly through your mouth <br><br> 1"
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br>  exhale slowly through your mouth <br><br> 2"
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br>  exhale slowly through your mouth <br><br> 3"
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br>  exhale slowly through your mouth <br><br> 4"
      await sleep(2000)

      window.location.href = "/restart?restart=equal";
    }
    meditation();
</script>
