<div class="col text-center">
  <h1>Micro Meditations</h1>
  <br>
  <a class="btn btn-primary" href="/meditations/equal_lengths" role="button">equal breaths</a>

  <a class="btn btn-primary" href="/meditations/square_breathing" role="button">box breathing</a>
</div>
