<div class="col text-center">
  <h1>Micro Meditations</h1>
  <br>
  <a class="btn btn-primary" href="/meditations" role="button" style="background-color: #4fc3f7; color:black;">meditations</a>
</div>
