<body>
<link href="app/stylesheets/cards.css" type="text/css" rel="stylesheet">
<link href="app/stylesheets/buttons.css" type="text/css" rel="stylesheet">

<br><br><br><br><br>
<div class="col d-flex justify-content-center text-center">
  <div class="meditation_card" style="background-color:#29CCE5; margin-top:15px;">
  <br><h5 class="card-title" style="color:black; font-size:18px;">equal breaths</h5>
    <br><a class="link" href="/meditations/equal_lengths">▶︎</a>
    <br><p style="font-size:12px;">25 seconds</p>
  </div>
 
  <div class="meditation_card" style="background-color:#6DECA9; margin-left: 40px; margin-top:15px;">
    <br><h5 class="card-title" style="color:black; font-size:18px;">box breaths</h5>
      <br><a class="link" href="/meditations/square_breathing">▶︎</a>
      <br><p style="font-size:12px;">28 seconds</p>
  </div>
</div>

<br>
  <div class="col d-flex justify-content-center text-center">
  <div class="meditation_card" style="background-color:#EF7564; margin-top:15px;">
    <br><h5 class="card-title" style="color:black; font-size:18px;">three senses</h5>
    <br><a class="link" href="/meditations/three_senses">▶︎</a>
    <br><p style="font-size:12px;">33 seconds</p>
  </div>

    <div class="meditation_card" style="background-color:#F5DD29;  margin-left: 40px; margin-top:15px;">
      <br><h5 class="card-title" style="color:black; font-size:18px;">light stream</h5>
      <br><a class="link" href="/meditations/light_stream">▶︎</a>
      <br><p style="font-size:12px;">49 seconds</p>
    </div>
  </div>
</body>
