<body>
<link href="app/stylesheets/cards.css" type="text/css" rel="stylesheet">
<link href="app/stylesheets/buttons.css" type="text/css" rel="stylesheet">

<div class="col d-flex justify-content-center text-center">
  <div class="meditation_card" style="background-color:#29CCE5;">
  <br><h5 class="card-title" style="color:black">equal breaths</h5>
    <br><a href="/meditations/equal_lengths" class="btn btn-secondary">▶︎</a>
    <br><br><p style="font-size:12px;">25 seconds</p>
  </div>
 
  <div class="meditation_card" style="background-color:#6DECA9; margin-left: 40px;">
    <br><h5 class="card-title" style="color:black">box breaths</h5>
      <br><a href="/meditations/square_breathing" class="btn btn-secondary">▶︎</a>
      <br><br><p style="font-size:12px;">28 seconds</p>
  </div>
</div>

<br>
  <div class="col d-flex justify-content-center text-center">
  <div class="meditation_card" style="background-color:#EF7564; margin-top:15px;">
    <br><h5 class="card-title" style="color:black">three senses</h5>
    <br><a href="/meditations/three_senses" class="btn btn-secondary">▶︎</a>
    <br><br><p style="font-size:12px;">33 seconds</p>
  </div>

    <div class="meditation_card" style="background-color:#F5DD29;  margin-left: 40px; margin-top:15px;">
      <br><h5 class="card-title" style="color:black">light stream</h5>
      <br><a href="/meditations/light_stream" class="btn btn-secondary">▶︎</a>
      <br><br><p style="font-size:12px;">49 seconds</p>
    </div>
  </div>
</body>
