<body>
  <div class="col d-flex justify-content-center text-center">
    <div class="card border-info" style="width: 18rem; margin-top:50px;">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body" style="background-color:#72d3fe">
        <h5 class="card-title" style="color:black"><strong>equal breaths</strong></h5>
        <p class="card-text" style="color:black">relax with a quick breathing meditation</p>
        <a href="/meditations/equal_lengths" class="btn btn-secondary">▶︎</a>
        <p></p>
        <!-- <a href="/meditations/equal_lengths" class="btn btn-primary">+ audio</a> -->
      </div>
    </div>

    <div class="card" style="width: 18rem; margin-left: 50px; margin-top:50px;">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body" style="background-color:#77DD66; ">
        <h5 class="card-title" style="color:black"><strong>square breathing</strong></h5>
        <p class="card-text" style="color:black">30 seconds of focused breathing</p>
        <a href="/meditations/square_breathing" class="btn btn-secondary">▶︎</a>
        <p></p>
        <!-- <a href="/meditations/square_breathing" class="btn btn-primary" style="background-color:#4fc3f7; color:black">+ audio</a> -->
      </div>
    </div>
  </div>

  <div class="col d-flex justify-content-center text-center">
    <div class="card" style="width: 18rem; margin-top:50px;">
        <div class="card-body border-0" style="background-color:#FF6961; border-color:#FF6961;">
          <h5 class="card-title" style="color:black"><strong>three senses</strong></h5>
          <p class="card-text" style="color:black">focus your mind using your surroundings</p>
          <a href="/meditations/three_senses" class="btn btn-secondary">▶︎</a>
          <p></p>
        </div>
    </div>

    <div class="card" style="width: 18rem; margin-left: 50px; margin-top:50px;">
        <div class="card-body" style="background-color:#ffb347;">
          <h5 class="card-title" style="color:black"><strong>light stream</strong></h5>
          <p class="card-text" style="color:black">energize your mind and body with light</p>
          <a href="/meditations/light_stream" class="btn btn-secondary">▶︎</a>
          <p></p>
        </div>
    </div>
  </div>

  
</body>
