<br>
<div class="col text-center">
<a class="btn btn-primary" href="/meditations/square_breathing" role="button" id="link">start over</a>
<a class="btn btn-primary" href="/meditations" role="button" id="link">meditations</a>
</div>
