<p style="font-family:verdana; font-size:20px; text-align:center" id="font"></p>

<script>
    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }
    async function meditation() {
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> imagine drawing a square with your breath as you follow along <br><br> :: "
      await sleep(4000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> breathe in through your nose"
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> breathe in through your nose <br> breathe in <br><br> 1"
      await sleep(1500)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> breathe in through your nose <br> breathe in <br><br> 2"
      await sleep(1500)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> breathe in through your nose <br> breathe in <br><br> 3"
      await sleep(1500)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> breathe in through your nose <br> breathe in <br><br> 4"
      await sleep(1500)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> hold the breath for a count of 4"
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> hold the breath for a count of 4 <br> hold <br><br> 1"
      await sleep(1500)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> hold the breath for a count of 4 <br> hold <br><br> 2"
      await sleep(1500)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> hold the breath for a count of 4 <br> hold <br><br> 3"
      await sleep(1500)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> hold the breath for a count of 4 <br> hold <br><br> 4"
      await sleep(1500)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> exhale slowly through your mouth "
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> exhale slowly through your mouth <br> breathe out <br><br> 1"
      await sleep(1500)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> exhale slowly through your mouth <br> breathe out <br><br> 2"
      await sleep(1500)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> exhale slowly through your mouth <br> breathe out <br><br> 3"
      await sleep(1500)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> exhale slowly through your mouth <br> breathe out <br><br> 4"
      await sleep(1500)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> before inhaling hold your breath for a count of 4"
      await sleep(2000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> before inhaling hold your breath for a count of 4 <br> hold <br><br> 1"
      await sleep(1500)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> before inhaling hold your breath for a count of 4 <br> hold <br><br> 2"
      await sleep(1500)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> before inhaling hold your breath for a count of 4 <br> hold <br><br> 3"
      await sleep(1500)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> before inhaling hold your breath for a count of 4 <br> hold <br><br> 4"
      await sleep(1500)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> breathe in"
      await sleep(2000)
      window.location.href = "/restart?restart=square";
    }
    meditation();
</script>
