<br>
<div class="col text-center">
<a class="btn btn-primary" href="/meditations/three_senses" role="button" id="link">start over</a>
<a class="btn btn-primary" href="/meditations" role="button" id="link">meditations</a>
</div>
