<p style="font-family:verdana; font-size:20px; text-align:center" id="font"></p>
<script>
    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function intro() {
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> start to relax your shoulders and begin looking at your surroundings"
      await sleep(5000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> find 3 things you see and say them out loud one at a time"
      await sleep(5000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> find 3 things you see and say them out loud one at a time <br><br> 1"
      await sleep(3000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> find 3 things you see and say them out loud one at a time <br><br> 2"
      await sleep(3000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> find 3 things you see and say them out loud one at a time <br><br> 3"
      await sleep(3000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> listen for 2 noises around you and say them out loud one at a time"
      await sleep(4000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> listen for 2 noises around you and say them out loud one at a time <br><br> 1"
      await sleep(3000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> listen for 2 noises around you and say them out loud one at a time <br><br> 2"
      await sleep(3000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> feel for 1 object you are touching and say the name of that object out loud"
      await sleep(4000)
      document.getElementById("font").innerHTML = "<br><br><br><br><br><br><br> feel for 1 object you are touching and say the name of that object out loud <br><br> 1"
      await sleep(4000)
      window.location.href = "/restart?restart=senses";
    }
    intro();
</script>
